os: windows

language: shell

script:
- curl -L -o ubuntu-1604.zip https://aka.ms/wsl-ubuntu-1604
- >
  powershell.exe -NoProfile -Command "
      Expand-Archive ubuntu-1604.zip Ubuntu;
      gci Ubuntu;
  "
- wsl.exe ls -a
