os: windows

language: shell

script:
- curl -L -o ubuntu-1604.zip https://aka.ms/wsl-ubuntu-1604
- powershell.exe -NoProfile -Command "Expand-Archive -Path ubuntu-1604.zip -DestinationPath Ubuntu"
- Ubuntu/ubuntu.exe
- wsl.exe ls -a
